# Nuxt output
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Logs
*.log

# Local environment files
.env
.env.*
!.env.example

# Editors and operating systems
.DS_Store
.idea
.vscode
